---
import Layout from "@layouts/Layout.astro";
import { Header, Footer, DocsComponent } from "mee-components";
import { header, footer } from "../../astro.config.mjs";
import forYou from "../../public/images/for-you.svg";
// import autofiil from "../../public/images/autofiil.svg";
// import completePrivacy from "../../public/images/complete-privacy.svg";
// import empoveredData from "../../public/images/empovered-data.svg";
// import yourData from "../../public/images/your-data.svg";

// const futures = [
//   {
//     image: autofiil,
//     title: "Seamless form-free experience",
//     description: "You don’t have to fill in forms–passwords, names and more",
//     class: "col-span-2",
//   },
//   {
//     image: yourData,
//     title: "Your data, your terms",
//     description: "Your data is never shared or sold by anyone",
//     class: "col-span-1",
//   },
//   {
//     image: empoveredData,
//     title: "Empowered data control",
//     description: "Your legal right to control your own data is enforced",
//     class: "col-span-1",
//   },
//   {
//     image: completePrivacy,
//     title: "Complete privacy, zero tracking",
//     description:
//       "Your activities remain private–no more tracking or spying on you",
//     class: "col-span-2",
//   },
// ];

const data = {
  users: {
    image: forYou,
    enabled: true,
    link: "https://meextension.org/",
    title: "For You",
    linkTitle: "Download Mee Extension",
    description:
      "To experience Mee private advertising, you install the Mee Extension in your browser. An early version of our extension is already available.",
  },
  publishers: {
    title: "For Publishers",
    description:
      "Our goal is to increase publishers’ ad revenues. All the publisher has to do is add support for a new, Mee-compatible ad network that is currently under development.",
    enabled: true,
    link: "/docs/publishers/private-advertising",
  },
  developers: {
    title: "For Developers",
    enabled: true,
    description:
      "We’re developing the Mee Extension, an Interest Service and a Mee-compatible ad network. These work together to implement our vision for private advertising.",
    link: "/docs/developers/private-advertising",
  },
};

const services = [
  {
    image: "/images/services/extension.svg",
    title: "Mee Extension",
    link: "https://meextension.org/",
    description:
      "Working in conjunction with a Mee-compatible advertising network implements private advertising.",
  },
  {
    image: "/images/services/interest-service.svg",
    title: "Interest Service",
    link: "/docs/users/mee-extension/#interest-service",
    description:
      "Based on your browsing history, which never leaves your computer, a set of anonymous interests is generated.",
  },
  {
    image: "/images/services/ad-network.svg",
    title: "Private Ad Network",
    link: "/docs/users/private-advertising/#private-advertising-project",
    description:
      "Mee-authorized ad networks tailor the ads based on your interests so you can enjoy relevant content and privacy-first principles.",
  },
];
---

<Layout title="Private Advertising">
  <Header header={header} location="Private Advertising" />
  <main class="w-screen overflow-hidden">
    <article
      class="relative mt-27 flex h-full w-screen flex-col items-center justify-between gap-10 overflow-hidden md:gap-40"
    >
      <section
        class="section top-0 z-100 mt-10 flex h-full w-screen flex-col items-center justify-center gap-10 md:mt-20 md:gap-20"
      >
        <div
          class="flex max-w-5xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-4xl font-semibold text-grey-900 lg:text-7xl"
            >
              Private Advertising
            </h1>
          </div>
          <!-- <section class="overflow-hidden">
            <h3
              class="text animation-delay-800 max-w-3xl animate-riseIn text-pretty px-6 text-center text-xl text-grey-900 md:text-2xl"
            >
              Everything you need to build a stellar documentation website.
              Fast, accessible, and easy-to-use.
            </h3>
          </section> -->
          <div class="overflow-hidden">
            <a
              class="animation-delay-800 block w-full animate-riseIn px-6 text-center text-xl leading-relaxed text-brand-600 underline md:text-2xl"
              href="/docs"
            >
              Private Advertising Docs <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
        <section
          class="z-100 flex h-full w-screen flex-col items-center justify-center"
        >
          <DocsComponent data={data} />
        </section>
      </section>
      <section
        class="z-100 flex h-full w-screen flex-col items-center justify-center gap-10 md:gap-16 lg:gap-32"
      >
        <div
          class="flex max-w-5xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-3xl font-semibold text-grey-900 lg:text-5xl lg:tracking-0.02"
            >
              Private Advertising Project
            </h1>
          </div>
          <section class="overflow-hidden">
            <h3
              class="text animation-delay-800 animate-riseIn text-pretty px-6 text-center text-xl leading-relaxed text-grey-900 md:text-2xl"
            >
              Bringing the Mee experience to internet advertising, featuring a
              front-end component and back-end services
            </h3>
          </section>
        </div>
        <section
          class="platform relative flex max-w-7xl flex-col items-center px-6 text-grey-900"
        >
          <div
            class="mb-24 flex w-full flex-col items-center justify-center gap-6 md:gap-10 lg:flex-row lg:items-start lg:gap-20"
          >
            {
              services.map((service) => (
                <a
                  class="flex max-w-100 flex-col items-center justify-center gap-6 rounded-xl p-6 text-center transition-all duration-300 hover:shadow-3-strong"
                  href={service.link}
                >
                  <span class="flex items-center justify-center text-base uppercase">
                    <img src={service.image} />
                  </span>
                  <div class="flex flex-col gap-4">
                    <h6 class="text-2xl font-semibold">{service.title}</h6>
                    <p class="text-base font-normal">{service.description}</p>
                  </div>
                </a>
              ))
            }
          </div>
        </section>
      </section>

      <Footer footer={footer} mode="dark" />
    </article>
  </main>
</Layout>
