---
import Layout from "@layouts/Layout.astro";
import { Header, Footer } from "mee-components";
import { header, footer } from "../../astro.config.mjs";
// import autofiil from "../../public/images/autofiil.svg";
// import completePrivacy from "../../public/images/complete-privacy.svg";
// import empoveredData from "../../public/images/empovered-data.svg";
// import yourData from "../../public/images/your-data.svg";

// const futures = [
//   {
//     image: autofiil,
//     title: "Seamless form-free experience",
//     description: "You don’t have to fill in forms–passwords, names and more",
//     class: "col-span-2",
//   },
//   {
//     image: yourData,
//     title: "Your data, your terms",
//     description: "Your data is never shared or sold by anyone",
//     class: "col-span-1",
//   },
//   {
//     image: empoveredData,
//     title: "Empowered data control",
//     description: "Your legal right to control your own data is enforced",
//     class: "col-span-1",
//   },
//   {
//     image: completePrivacy,
//     title: "Complete privacy, zero tracking",
//     description:
//       "Your activities remain private–no more tracking or spying on you",
//     class: "col-span-2",
//   },
// ];

const services = [
  {
    image: "/images/services/extension.svg",
    title: "Mee Extension",
    link: "https://meextension.org/",
    description:
      "A browser extension that enhances your privacy, opts you out of your data being shared/sold and matches ads to your interests",
  },
  {
    image: "/images/services/interest-service.svg",
    title: "Interest Service",
    link: "/docs/users/mee-extension/#interest-service",
    description:
      " Based on your browsing history, which never leaves your computer, a set of anonymous interests is generated.",
  },
  {
    image: "/images/services/ad-network.svg",
    title: "Private Ad Network",
    link: "/docs/users/private-advertising/#private-advertising-project",
    description:
      "Mee-authorized ad networks tailor the ads based on your interests so you can enjoy relevant content and privacy-first principles.",
  },
];
---

<Layout title="Private Advertising">
  <Header header={header} location="Private Advertising" />
  <main class="w-screen overflow-hidden">
    <article
      class="relative mt-27 flex h-full w-screen flex-col items-center justify-between gap-8 overflow-hidden md:gap-16"
    >
      <!-- <section
        class="section top-0 z-100 mt-10 flex h-full w-screen items-center justify-center md:mt-20"
      >
        <div
          class="flex max-w-5xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-4xl font-semibold text-grey-900 lg:text-7xl"
            >
              Private Advertising
            </h1>
          </div>
          <section class="overflow-hidden">
            <h3
              class="text animation-delay-800 animate-riseIn text-pretty px-6 text-center text-xl text-grey-900 md:text-2xl"
            >
              We’re a nonprofit whose mission is to develop Mee–a human-centered
              user experience for the internet, offering more control, privacy
              and convenience.
            </h3>
          </section>
        </div>
      </section>
      <section
        class="flex h-auto max-w-7xl flex-col items-center justify-center px-6"
      >
        <div class="overflow-hidden">
          <div class="animate-riseIn">
            <div
              class="flex max-w-96 flex-wrap items-center justify-center gap-8 md:grid md:max-w-max md:grid-cols-2 lg:grid-cols-3"
            >
              {
                futures.map((future) => (
                  <div
                    class:list={[
                      "h-full rounded-2xl border border-grey-300",
                      future.class,
                    ]}
                  >
                    <img
                      src={future.image.src}
                      class="w-full"
                      alt={`${future.title}`}
                    />
                    <div class="flex flex-col gap-2 p-8 pt-0">
                      <div class="flex items-center gap-2 text-left text-xl font-semibold text-grey-900 lg:text-2xl">
                        {future.title}
                      </div>
                      <div class="text-sm text-grey-800 lg:text-base">
                        {future.description}
                      </div>
                    </div>
                  </div>
                ))
              }
            </div>
          </div>
        </div>
      </section> -->
      <section
        class="section top-0 z-100 flex h-full w-screen flex-col items-center justify-center pt-16 md:pt-25"
      >
        <div
          class="flex max-w-5xl flex-col items-center justify-center gap-4 px-6 transition-opacity duration-500"
        >
          <div class="overflow-hidden">
            <h1
              class="marker animate-riseIn text-center text-3xl font-semibold text-grey-900 lg:text-5xl lg:tracking-0.02"
            >
              Private Advertising Project
            </h1>
          </div>
          <section class="overflow-hidden">
            <h3
              class="text animation-delay-800 animate-riseIn text-pretty px-6 text-center text-xl leading-relaxed text-grey-900 md:text-2xl"
            >
              Our goal: Enable internet advertising that is tailored to your interests wile eliminating the need for surveillance by cookies and other tracking technologies.
            </h3>
          </section>
          <div class="overflow-hidden">
            <a
              class="animation-delay-800 block w-full animate-riseIn px-6 text-center text-xl leading-relaxed text-brand-600 underline md:text-2xl"
              href="/docs"
            >
              Private Advertising Docs <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </section>
      <section
        class="platform relative flex max-w-7xl flex-col items-center px-6 text-grey-900"
      >
        <div
          class="mb-24 flex w-full flex-col items-center justify-center gap-10 lg:flex-row lg:items-start lg:gap-20"
        >
          {
            services.map((service) => (
              <a
                class="flex max-w-100 flex-col items-center justify-center gap-6 rounded-xl p-6 text-center transition-all duration-300 hover:shadow-3-strong"
                href={service.link}
              >
                <span class="flex items-center justify-center text-base uppercase">
                  <img src={service.image} />
                </span>
                <div class="flex flex-col gap-4">
                  <h6 class="text-2xl font-semibold">{service.title}</h6>
                  <p class="text-base font-normal">{service.description}</p>
                </div>
              </a>
            ))
          }
        </div>
      </section>
      <Footer footer={footer} mode="dark" />
    </article>
  </main>
</Layout>
